<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SKN-PG ELO MAKRELO</title>
    <style type="text/css">
        html, body {
            background-color: #f1f1f1 !important
        }
    </style>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">

    <style>
        .no-padding {
            padding: 0;
        }

        form {
            padding: 10px;
        }

        input {
            border: 1px solid rgb(228,228,228);
            border-radius: 1px;
            padding: 4px 6px;
        }
    </style>
</head>

<body ng-app="app" ng-controller="HomeController">

<div style="width:300px;margin-top: 150px;margin-left:auto;margin-right: auto;border: 1px solid #eee;border-radius:3px;background-color:#fff;box-shadow: 0 1px 1px rgba(0,0,0,0.12), 0 0px 0px rgba(0,0,0,0.24);">
    <div class="login-panel panel-default">
        <div class="panel-body">
            <form method="POST" action="/signup">
                <div class="input-field col-lg-12 no-padding">
                    <input placeholder="Imię" type="text" name="name" class="form-control validate" required>
                </div>
                <div class="input-field col-lg-12 no-padding">
                    <input placeholder="Nazwisko" type="text" name="surname" class="form-control validate" required>
                </div>
                <div class="input-field col-lg-12 no-padding">
                    <input placeholder="Email" type="email" name="email" class="form-control validate" required>
                </div>
                <div class="input-field col-lg-12 no-padding" style="margin-top: 15px;">
                    <input placeholder="Hasło" name="password" type="password" value="" class="form-control" required>
                </div>
                <div class="input-field col-lg-12 no-padding" style="margin-top: 15px;">
                    <input placeholder="Powtórz hasło" name="repeatPassword" type="password" value="" class="form-control" required>
                </div>
                <div class="input-field col-lg-12 no-padding" style="margin-top: 15px;">
                    <input placeholder="Token zapraszający" name="invToken" type="text" value="" class="form-control" required>
                </div>
                <div class="col-lg-12" style="margin-top: 15px;">
                    <span class="blue-span left btn btn-vanished no-padding"><a href="/login">Mam już konto</a></span>
                    <input type="submit" class="btn oklokbtn right btn-success" value="Załóż konto"></button>
                </div>
            </form>
        </div>
    </div>
</div>

</body>

</html>