<div class="spinner" ng-if="main.mapLoading">
    <div class="double-bounce1"></div>
    <div class="double-bounce2"></div>
</div>
<div class="contact-gmap" ng-class="{mapLoaded: !main.mapLoading}" map-lazy-load="https://maps.google.com/maps/api/js">
    <div class="darkness-instant" ng-class="{shown: !main.mapLoading}"></div>
    <ng-map center="warsaw" zoom="14"></ng-map>
</div>

<div class="col-md-8 col-md-offset-2 view-content padding-bottom-15" ng-if="!main.mapLoading">
    <h5 class="font-weight-400 margin-15-0">
        Skontaktuj się z nami
    </h5>

    <span class="col-md-12 font-weight-400">
        Tel: 888 888 888<br/>
        E-mail: some@some.pl
    </span>
</div>